doctype html
html(lang='ja')
  head
    title DJ YAGICHAN SYSTEM
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script.
      const $ = s => Array.from(document.querySelectorAll(s));
  body
    h1
      DJ YAGICHAN SYSTEM
    form
      input(type="search", name="query", placeholder="URLまたは動画のキーワードを入力…")


    script(src="/socket.io/socket.io.js")
    script(src="./client.js")